@font-face {
  font-family: "Nirmala";
  src: url("../fonts/Nirmala.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nirmala-b";
  src: url("../fonts/nirmala-ui-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
